.landing-pg .hero {
  background: url('/themes/authanvil/images/lp-hero-banner.jpg?1480333964');
  min-height: 530px;
  padding: 40px 0 0
}

.landing-pg .hero h1 {
  color: #fff;
  font-size: 2.57em
}

.landing-pg .hero h1 small {
  color: inherit;
  display: block;
  font-size: 44%;
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: uppercase
}

.landing-pg .hero hr {
  border: solid 1px #fff;
  width: 30%
}

.landing-pg .hero li {
  color: #fff;
  font-size: 1.28em;
  padding: 10px 0
}

.landing-pg .hero li .red-badge {
  border-radius: 15px;
  font-size: 20px;
  font-weight: normal;
  height: 30px;
  margin-right: 15px;
  padding: 5px;
  width: 30px
}

.landing-pg .cta-block {
  position: relative
}

.landing-pg .cta-block h2 {
  vertical-align: middle
}

.landing-pg .cta-block:after {
  content: " ";
  display: block;
  background: #222;
  transform: rotate(45deg);
  position: absolute;
  height: 30px;
  width: 30px;
  top: 140%;
  position: absolute;
  left: calc(50% - 15px)
}

.landing-pg .features {
  background: url('/themes/authanvil/images/icon_sheild.gif?1480333306') center 2%;
  background-repeat: no-repeat;
  min-height: 854px;
  position: relative
}

.landing-pg .features h2 {
  font-size: 2.28em
}

.landing-pg .features ul {
  padding: 75px 0 0
}

.landing-pg .features ul li {
  padding: 40px 0
}

.landing-pg .features ul li span {
  background: url('/themes/authanvil/images/icons-features.gif?1482129195') right 0 no-repeat;
  color: #444;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  max-width: 200px;
  min-height: 65px;
  padding: 0px 60px 0 0;
  text-transform: uppercase
}

.landing-pg .features ul li span.bg-pos-2x {
  background-position-y: -130px
}

.landing-pg .features ul li span.bg-pos-4x {
  background-position-y: -260px
}

.landing-pg .features ul li span.bg-pos-6x {
  background-position-y: -390px
}

.landing-pg .features ul li span.bg-pos-8x {
  background-position-y: -520px
}

.landing-pg .features ul li span.bg-pos-10x {
  background-position-y: -650px
}

.landing-pg .features ul li span.bg-pos-12x {
  background-position-y: -780px
}

.landing-pg .features ul li span.bg-pos-14x {
  background-position-y: -910px
}

.landing-pg .features ul li a.active span {
  color: #00bc9d
}

.landing-pg .features ul li a.active span.bg-hover-1x {
  background-position-y: -65px
}

.landing-pg .features ul li a.active span.bg-hover-3x {
  background-position-y: -195px
}

.landing-pg .features ul li a.active span.bg-hover-5x {
  background-position-y: -325px
}

.landing-pg .features ul li a.active span.bg-hover-7x {
  background-position-y: -455px
}

.landing-pg .features ul li a.active span.bg-hover-9x {
  background-position-y: -585px
}

.landing-pg .features ul li a.active span.bg-hover-11x {
  background-position-y: -715px
}

.landing-pg .features ul li a.active span.bg-hover-13x {
  background-position-y: -845px
}

.landing-pg .features ul li a.active span.bg-hover-15x {
  background-position-y: -975px
}

.landing-pg .features ul li .active span {
  color: #00bc9d
}

.landing-pg .features ul.text-left li span {
  background-position-x: left;
  padding: 0 0 0 60px
}

.landing-pg .features ul:first-child {
  padding-right: 20px
}

.landing-pg .features ul:last-child {
  padding-left: 20px
}

.landing-pg .features .feature-desc {
  background: url('/themes/authanvil/images/lp-phone-bg.png?1481870546') top no-repeat;
  height: 650px;
  max-height: 650px;
  overflow: hidden;
  padding: 6% 0 0;
  text-align: center
}

.landing-pg .features .feature-desc .feature-desc-container {
  height: 477px;
  overflow: hidden;
  position: relative
}

.landing-pg .features .feature-desc .feature-desc-container>div {
  color: #fff;
  display: block;
  left: 70px;
  max-width: 250px;
  position: absolute;
  top: 700px;
  transition: all 0.5s;
  background: #181818
}

.landing-pg .features .feature-desc .feature-desc-container>div.active {
  top: 70px
}

.landing-pg .features .feature-desc .feature-desc-container>div img {
  margin: 0 auto
}

.landing-pg .features .feature-desc .feature-desc-container>div p {
  text-align: justify
}

.landing-pg .features .feature-desc .feature-desc-container>div.slideUp {
  top: 70px
}

.landing-pg .mktoForm {
  color: #666
}

.landing-pg .mktoForm:before {
  background: #ea4c3f;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  content: attr(data-title);
  color: #fff;
  display: block;
  font-size: 2em;
  line-height: 28px;
  padding: 15px 5px;
  text-align: center
}

.landing-pg .mktoForm form {
  padding: 15px
}

.landing-pg .mktoForm form>.mktoFormRow {
  float: left
}

.landing-pg .mktoForm form>.mktoFormRow:first-child {
  margin-right: 25px;
  width: 50%
}

.landing-pg .mktoForm form>.mktoFormRow:nth-child(2) {
  width: calc(100% - (50% + 25px))
}

.landing-pg .mktoForm form label.mktoLabel {
  color: #666;
  font-size: 1.15em;
  font-weight: 600;
  padding-bottom: 10px
}

.landing-pg .mktoForm form .mktoFormRow label[for="Email"], .landing-pg .mktoForm form .mktoFormRow label[for="FirstName"] {
  padding-top: 0px
}

.landing-pg .mktoForm form .mktoField {
  height: 34px
}

.landing-pg .mktoForm form button.mktoButton {
  font-size: 0.9em !important;
  white-space: normal;
  padding: 1em 0
}

.landing-pg .mktoForm form input[type="text"], .landing-pg .mktoForm form input[type="email"], .landing-pg .mktoForm form input#Phone {
  margin: 0px;
  width: 100%
}

.landing-pg .mktoForm form input[type="text"], .landing-pg .mktoForm form input[type="Email"] {
  display: block
}

.landing-pg .mktoForm form input[type="radio"] {
  display: none
}

.landing-pg .mktoForm form .company-url {
  padding-top: 20px
}

.landing-pg .mktoForm form .pod-list {
  padding-bottom: 20px
}

.landing-pg .mktoForm form .field-help {
  font-size: 0.75em
}

.landing-pg .mktoForm form .domain-wrap {
  font-weight: bold
}

.landing-pg .mktoForm form .domain-wrap .domain {
  display: inline-block;
  font-weight: normal;
  width: 78px
}

.landing-pg .mktoForm form .mktoClear {
  clear: both;
  float: none;
  display: none
}

.landing-pg .mktoForm form .mkto-form-footer {
  clear: both;
  color: inherit;
  font-size: 0.75em;
  font-style: italic;
  padding-left: 0
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 11px
  }
  .landing-pg .cta-block:after {
    top: 110%
  }
  .landing-pg .features ul {
    padding: 50px 0 0
  }
  .landing-pg .features ul li {
    padding: 20px 0
  }
  .landing-pg .features ul li span {
    background-position-x: right;
    display: inline-block;
    font-size: 1em;
    max-width: 150px;
    padding: 0 60px 0 0;
    text-transform: uppercase;
    vertical-align: middle
  }
  .landing-pg .features .feature-desc {
    padding: 8% 0 0 1%
  }
  .landing-pg .features .feature-desc .feature-desc-container>div {
    left: 30px;
    margin: 60px auto 0
  }
  .landing-pg .features .feature-desc .feature-desc-container>div:first-child {
    margin: 60px auto
  }
}

@media only screen and (max-width: 991px) {
  .landing-pg .features {
    background-size: contain;
    min-height: 704px
  }
  .landing-pg .features .feature-desc {
    padding: 8% 0 0 1%
  }
  .landing-pg .features .feature-desc .feature-desc-container {
    height: 300px;
    margin-top: 140px
  }
  .landing-pg .features .feature-desc .feature-desc-container>div {
    margin: 20px auto;
    position: static
  }
  .landing-pg .features .feature-desc .feature-desc-container>div:first-child {
    margin: 20px auto
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.item {
    display: none;
    width: auto;
    transition: 0.6s ease-in-out top;
    top: 0px
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.active, .landing-pg .features .carousel.vertical .carousel-inner>.next, .landing-pg .features .carousel.vertical .carousel-inner>.prev {
    display: block
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.active {
    top: 0
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.next, .landing-pg .features .carousel.vertical .carousel-inner>.prev {
    width: 100%
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.next {
    top: 100%
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.prev {
    top: -100%
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.next.left, .landing-pg .features .carousel.vertical .carousel-inner>.prev.right {
    top: 0
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.active.left {
    top: -100%
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.active.right {
    top: 100%
  }
  .landing-pg .features .carousel.vertical .carousel-control {
    left: auto;
    margin-left: -25px;
    width: 50px
  }
  .landing-pg .features .carousel.vertical .carousel-control.up {
    top: 20%
  }
  .landing-pg .features .carousel.vertical .carousel-control.down {
    top: 75%
  }
}

@media only screen and (max-width: 991px) and (-webkit-transform-3d) {
  .landing-pg .features .carousel.vertical .carousel-inner>.item {
    transition: 0.6s ease-in-out
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.item.next, .landing-pg .features .carousel.vertical .carousel-inner>.item.active.right {
    transform: translate3d(0, 100%, 0);
    top: 0
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.item.prev, .landing-pg .features .carousel.vertical .carousel-inner>.item.active.left {
    transform: translate3d(0, -100%, 0);
    top: 0
  }
  .landing-pg .features .carousel.vertical .carousel-inner>.item.next.left, .landing-pg .features .carousel.vertical .carousel-inner>.item.prev.right, .landing-pg .features .carousel.vertical .carousel-inner>.item.active {
    transform: translate3d(0, 15px, 0);
    top: 0
  }
}
